In [4]:
import numpy as np
import pandas as pd

In [5]:
data = [1,2,3]
labels = ['a', 'b', 'c']

In [13]:
one = pd.Series(data = data, index = labels)
print(one)

a    1
b    2
c    3
dtype: int64

In [14]:
two = pd.Series(data)
print(two)

0    1
1    2
2    3
dtype: int64

In [15]:
d = {'color': ['blue', 'black', 'red'], 7: 'number'}
three = pd.Series(d)
print(three)

color    [blue, black, red]
7                    number
dtype: object

In [16]:
four = pd.Series([1,2,3,4], ['USA', 'Ger', 'Russia', 'Japan'])
print(four)

USA       1
Ger       2
Russia    3
Japan     4
dtype: int64

In [17]:
five = pd.Series([1,2,3,4], ['USA', 'Ger', 'Russia', 'Africa'])
print(five)

USA       1
Ger       2
Russia    3
Africa    4
dtype: int64

In [18]:
four + five

Africa    NaN
Ger       4.0
Japan     NaN
Russia    6.0
USA       2.0
dtype: float64

In [26]:
from numpy.random import randn

In [27]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
print(df)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [28]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [29]:
type(df['W'])

pandas.core.series.Series

In [31]:
df[['W', 'Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [32]:
type(df[['W', 'Z']])

pandas.core.frame.DataFrame

In [33]:
df['new'] = df['W'] + df['X']
print(df)

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [35]:
df['A']

KeyError: 'A'

In [39]:
df.drop('E')

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421

In [40]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [41]:
df.drop('new', axis=1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [42]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [46]:
df.drop('X', axis = 1, inplace = True)

In [47]:
df

          Y         Z       new
A -1.136645  0.000366 -0.796464
B -0.031579  0.649826  0.869386
C -0.755325 -0.346419  1.544588
D  0.558769  1.024810 -0.332421
E -1.133817  0.610478  0.936990

In [49]:
df.loc['A']

Y     -1.136645
Z      0.000366
new   -0.796464
Name: A, dtype: float64

In [50]:
df.iloc[2]

Y     -0.755325
Z     -0.346419
new    1.544588
Name: C, dtype: float64

In [52]:
df.loc['A', 'Y']

-1.1366445936091856

In [54]:
df.loc[['A', 'B'],['Y','Z']]

          Y         Z
A -1.136645  0.000366
B -0.031579  0.649826

In [55]:
df[df>0]

          Y         Z       new
A       NaN  0.000366       NaN
B       NaN  0.649826  0.869386
C       NaN       NaN  1.544588
D  0.558769  1.024810       NaN
E       NaN  0.610478  0.936990

In [59]:
df[df['new']>0]

          Y         Z       new
B -0.031579  0.649826  0.869386
C -0.755325 -0.346419  1.544588
E -1.133817  0.610478  0.936990

In [66]:
df[df['new']>0]['Y']

B   -0.031579
C   -0.755325
E   -1.133817
Name: Y, dtype: float64

In [67]:
df[df['new']>0]['Y']['C']

-0.755325340010558

In [68]:
df

          Y         Z       new
A -1.136645  0.000366 -0.796464
B -0.031579  0.649826  0.869386
C -0.755325 -0.346419  1.544588
D  0.558769  1.024810 -0.332421
E -1.133817  0.610478  0.936990

In [69]:
df.reset_index()

  index         Y         Z       new
0     A -1.136645  0.000366 -0.796464
1     B -0.031579  0.649826  0.869386
2     C -0.755325 -0.346419  1.544588
3     D  0.558769  1.024810 -0.332421
4     E -1.133817  0.610478  0.936990

In [70]:
df.set_index('Z')

                  Y       new
Z
 0.000366 -1.136645 -0.796464
 0.649826 -0.031579  0.869386
-0.346419 -0.755325  1.544588
 1.024810  0.558769 -0.332421
 0.610478 -1.133817  0.936990

In [71]:
d = {'A' : [1,2,np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}

In [72]:
df = pd.DataFrame(d)

In [73]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [76]:
series = pd.Series(d)
print(series)

A      [1, 2, nan]
B    [5, nan, nan]
C        [1, 2, 3]
dtype: object

In [77]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [78]:
df.dropna(axis = 1)

   C
0  1
1  2
2  3

In [79]:
df.dropna(thresh = 2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [80]:
df.dropna(axis=1, thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [81]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [82]:
df.fillna(value = 0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [83]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [84]:
df.fillna(value = df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

In [91]:
data = {1 : 'a', 2 : 'KL', 3:'c', 1: 'd', 2:'e', 1:'b'}
print(data)

{1: 'b', 2: 'e', 3: 'c'}

In [94]:
comp = df.groupby('A')
print(comp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002EEBA166860>

In [95]:
comp.mean()

       B  C
A
1.0  5.0  1
2.0  NaN  2

In [96]:
comp.sum()

       B  C
A
1.0  5.0  1
2.0  0.0  2

In [97]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [99]:
comp

In [100]:
comp.count()

     B  C
A
1.0  1  1
2.0  0  1

In [101]:
comp.max()

       B  C
A
1.0  5.0  1
2.0  NaN  2

In [102]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [108]:
import pandas as pd
import numpy as np

In [109]:
df['B'].unique()

array([ 5., nan])

In [111]:
df['B'].value_counts()

5.0    1
Name: B, dtype: int64

In [112]:
def times2(x):
    return x*2
df['A'].apply(times2)

0    2.0
1    4.0
2    NaN
Name: A, dtype: float64

In [113]:
df['C'].apply(lambda x:x*2)

0    2
1    4
2    6
Name: C, dtype: int64

In [119]:
df.isNull()

AttributeError: 'DataFrame' object has no attribute 'isNull'